--
-- PostgreSQL database dump
--

\restrict HTSrGbYtKHNdQaxUeJgvhdkzpmtBQSBWgTu8gnQNDlvxr92plyeFeN3adgI3K5V

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Attendance; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Attendance" (
    id text NOT NULL,
    "employeeId" text NOT NULL,
    date timestamp(3) without time zone NOT NULL,
    "heuresTravaillees" double precision DEFAULT 8 NOT NULL,
    "retardMinutes" integer DEFAULT 0 NOT NULL,
    "estAbsent" boolean DEFAULT false NOT NULL,
    motif text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Attendance" OWNER TO postgres;

--
-- Name: Caisse; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Caisse" (
    id text NOT NULL,
    nom text NOT NULL,
    description text,
    statut text DEFAULT 'ACTIVE'::text NOT NULL,
    "centreId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    type text DEFAULT 'PRINCIPALE'::text NOT NULL
);


ALTER TABLE public."Caisse" OWNER TO postgres;

--
-- Name: Centre; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Centre" (
    id text NOT NULL,
    nom text NOT NULL,
    description text,
    adresse text,
    ville text,
    "codePostal" text,
    telephone text,
    email text,
    "groupeId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Centre" OWNER TO postgres;

--
-- Name: Client; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Client" (
    id text NOT NULL,
    "typeClient" text NOT NULL,
    "dateCreation" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    email text,
    telephone text,
    adresse text,
    ville text,
    "codePostal" text,
    "pointsFidelite" integer DEFAULT 0 NOT NULL,
    statut text DEFAULT 'INACTIF'::text NOT NULL,
    commentaires text,
    nom text,
    prenom text,
    "dateNaissance" timestamp(3) without time zone,
    "typePieceIdentite" text,
    "numeroPieceIdentite" text,
    "cinParent" text,
    "groupeFamille" jsonb,
    "dossierMedical" jsonb,
    "couvertureSociale" jsonb,
    "raisonSociale" text,
    "identifiantFiscal" text,
    ice text,
    "registreCommerce" text,
    patente text,
    "tvaAssujetti" boolean DEFAULT false,
    "numeroAutorisation" text,
    "siteWeb" text,
    contacts jsonb,
    convention jsonb,
    "parrainId" text,
    "centreId" text,
    titre text
);


ALTER TABLE public."Client" OWNER TO postgres;

--
-- Name: Commission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Commission" (
    id text NOT NULL,
    "employeeId" text NOT NULL,
    "factureId" text NOT NULL,
    type text NOT NULL,
    montant double precision NOT NULL,
    mois text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Commission" OWNER TO postgres;

--
-- Name: CommissionRule; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."CommissionRule" (
    id text NOT NULL,
    poste text NOT NULL,
    "centreId" text,
    "typeProduit" text NOT NULL,
    taux double precision NOT NULL
);


ALTER TABLE public."CommissionRule" OWNER TO postgres;

--
-- Name: DemandeAlimentation; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."DemandeAlimentation" (
    id text NOT NULL,
    montant double precision NOT NULL,
    "depenseId" text,
    "paiementId" text,
    "journeeCaisseId" text NOT NULL,
    statut text DEFAULT 'EN_ATTENTE'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "validatedAt" timestamp(3) without time zone,
    "validatedBy" text,
    remarque text
);


ALTER TABLE public."DemandeAlimentation" OWNER TO postgres;

--
-- Name: Depense; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Depense" (
    id text NOT NULL,
    date timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    montant double precision NOT NULL,
    categorie text NOT NULL,
    description text,
    "modePaiement" text NOT NULL,
    statut text NOT NULL,
    "justificatifUrl" text,
    "centreId" text NOT NULL,
    "factureFournisseurId" text,
    "echeanceId" text,
    "creePar" text,
    "validePar" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "dateEcheance" timestamp(3) without time zone,
    reference text,
    "fournisseurId" text,
    "creeParId" text,
    "valideParId" text
);


ALTER TABLE public."Depense" OWNER TO postgres;

--
-- Name: EcheancePaiement; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."EcheancePaiement" (
    id text NOT NULL,
    reference text,
    type text NOT NULL,
    "dateEcheance" timestamp(3) without time zone NOT NULL,
    "dateEncaissement" timestamp(3) without time zone,
    montant double precision NOT NULL,
    statut text NOT NULL,
    banque text,
    remarque text,
    "factureFournisseurId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."EcheancePaiement" OWNER TO postgres;

--
-- Name: Employee; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Employee" (
    id text NOT NULL,
    matricule text,
    nom text NOT NULL,
    prenom text NOT NULL,
    cin text,
    telephone text,
    email text,
    adresse text,
    poste text NOT NULL,
    contrat text NOT NULL,
    "dateEmbauche" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "salaireBase" double precision DEFAULT 0 NOT NULL,
    statut text DEFAULT 'ACTIF'::text NOT NULL,
    "userId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "photoUrl" text
);


ALTER TABLE public."Employee" OWNER TO postgres;

--
-- Name: EmployeeCentre; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."EmployeeCentre" (
    "employeeId" text NOT NULL,
    "centreId" text NOT NULL
);


ALTER TABLE public."EmployeeCentre" OWNER TO postgres;

--
-- Name: Entrepot; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Entrepot" (
    id text NOT NULL,
    nom text NOT NULL,
    description text,
    type text NOT NULL,
    "capaciteMax" double precision,
    surface double precision,
    responsable text,
    "centreId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Entrepot" OWNER TO postgres;

--
-- Name: Facture; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Facture" (
    id text NOT NULL,
    numero text NOT NULL,
    type text NOT NULL,
    "dateEmission" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "dateEcheance" timestamp(3) without time zone,
    statut text NOT NULL,
    "clientId" text NOT NULL,
    "ficheId" text,
    "totalHT" double precision DEFAULT 0 NOT NULL,
    "totalTVA" double precision DEFAULT 0 NOT NULL,
    "totalTTC" double precision DEFAULT 0 NOT NULL,
    "resteAPayer" double precision DEFAULT 0 NOT NULL,
    lignes jsonb NOT NULL,
    proprietes jsonb,
    "parentFactureId" text,
    "montantLettres" text,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "centreId" text,
    "exportComptable" boolean DEFAULT true NOT NULL,
    "typeOperation" text DEFAULT 'COMPTABLE'::text NOT NULL,
    "vendeurId" text
);


ALTER TABLE public."Facture" OWNER TO postgres;

--
-- Name: FactureFournisseur; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."FactureFournisseur" (
    id text NOT NULL,
    "numeroFacture" text NOT NULL,
    "dateEmission" timestamp(3) without time zone NOT NULL,
    "dateEcheance" timestamp(3) without time zone,
    "montantHT" double precision NOT NULL,
    "montantTVA" double precision NOT NULL,
    "montantTTC" double precision NOT NULL,
    statut text DEFAULT 'A_PAYER'::text NOT NULL,
    type text DEFAULT 'ACHAT_STOCK'::text NOT NULL,
    "fournisseurId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "centreId" text,
    "clientId" text,
    "pieceJointeUrl" text
);


ALTER TABLE public."FactureFournisseur" OWNER TO postgres;

--
-- Name: Fiche; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Fiche" (
    id text NOT NULL,
    "dateCreation" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    statut text NOT NULL,
    type text NOT NULL,
    "dateLivraisonEstimee" timestamp(3) without time zone,
    "montantTotal" double precision DEFAULT 0 NOT NULL,
    "montantPaye" double precision DEFAULT 0 NOT NULL,
    "clientId" text NOT NULL,
    content jsonb NOT NULL
);


ALTER TABLE public."Fiche" OWNER TO postgres;

--
-- Name: FinanceConfig; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."FinanceConfig" (
    id text NOT NULL,
    "monthlyThreshold" double precision DEFAULT 50000 NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."FinanceConfig" OWNER TO postgres;

--
-- Name: Fournisseur; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Fournisseur" (
    id text NOT NULL,
    nom text NOT NULL,
    contact text,
    email text,
    telephone text,
    adresse text,
    ville text,
    "siteWeb" text,
    ice text,
    rc text,
    "identifiantFiscal" text,
    patente text,
    cnss text,
    rib text,
    banque text,
    "conditionsPaiement" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    contacts jsonb,
    convention jsonb,
    siret text
);


ALTER TABLE public."Fournisseur" OWNER TO postgres;

--
-- Name: Groupe; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Groupe" (
    id text NOT NULL,
    nom text NOT NULL,
    description text,
    adresse text,
    telephone text,
    email text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Groupe" OWNER TO postgres;

--
-- Name: JourneeCaisse; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."JourneeCaisse" (
    id text NOT NULL,
    "dateOuverture" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "dateCloture" timestamp(3) without time zone,
    "fondInitial" double precision NOT NULL,
    "soldeTheorique" double precision,
    "soldeReel" double precision,
    ecart double precision,
    "justificationEcart" text,
    statut text DEFAULT 'OUVERTE'::text NOT NULL,
    caissier text NOT NULL,
    "responsableCloture" text,
    "totalComptable" double precision DEFAULT 0 NOT NULL,
    "totalInterne" double precision DEFAULT 0 NOT NULL,
    "totalDepenses" double precision DEFAULT 0 NOT NULL,
    "caisseId" text NOT NULL,
    "centreId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "totalTransfertsDepenses" double precision DEFAULT 0 NOT NULL,
    "totalVentesCarte" double precision DEFAULT 0 NOT NULL,
    "totalVentesEspeces" double precision DEFAULT 0 NOT NULL,
    "totalVentesCheque" double precision DEFAULT 0 NOT NULL
);


ALTER TABLE public."JourneeCaisse" OWNER TO postgres;

--
-- Name: LoyaltyConfig; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."LoyaltyConfig" (
    id text NOT NULL,
    "pointsPerDH" double precision DEFAULT 0.1 NOT NULL,
    "referrerBonus" integer DEFAULT 50 NOT NULL,
    "refereeBonus" integer DEFAULT 20 NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "folderCreationBonus" integer DEFAULT 30 NOT NULL,
    "pointsToMADRatio" double precision DEFAULT 0.1 NOT NULL,
    "rewardThreshold" integer DEFAULT 500 NOT NULL
);


ALTER TABLE public."LoyaltyConfig" OWNER TO postgres;

--
-- Name: MarketingConfig; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."MarketingConfig" (
    id text NOT NULL,
    "whatsappApiUrl" text,
    "whatsappInstanceId" text,
    "whatsappToken" text,
    "smsGatewayUrl" text,
    "smsApiKey" text,
    "smtpHost" text,
    "smtpPort" integer DEFAULT 587 NOT NULL,
    "smtpUser" text,
    "smtpPass" text,
    "smtpFrom" text,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."MarketingConfig" OWNER TO postgres;

--
-- Name: MouvementStock; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."MouvementStock" (
    id text NOT NULL,
    type text NOT NULL,
    quantite double precision NOT NULL,
    "dateMovement" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    motif text NOT NULL,
    utilisateur text NOT NULL,
    "produitId" text NOT NULL,
    "entrepotSourceId" text,
    "entrepotDestinationId" text,
    "fournisseurId" text,
    "clientId" text,
    "factureId" text,
    "prixAchatUnitaire" double precision,
    "prixVenteUnitaire" double precision,
    "numeroLot" text,
    "datePeremption" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "factureFournisseurId" text,
    "userId" text
);


ALTER TABLE public."MouvementStock" OWNER TO postgres;

--
-- Name: OperationCaisse; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."OperationCaisse" (
    id text NOT NULL,
    type text NOT NULL,
    "typeOperation" text DEFAULT 'COMPTABLE'::text NOT NULL,
    montant double precision NOT NULL,
    "moyenPaiement" text NOT NULL,
    reference text,
    motif text,
    "pieceJointe" text,
    utilisateur text NOT NULL,
    "journeeCaisseId" text NOT NULL,
    "factureId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "userId" text
);


ALTER TABLE public."OperationCaisse" OWNER TO postgres;

--
-- Name: Paiement; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Paiement" (
    id text NOT NULL,
    montant double precision NOT NULL,
    date timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    mode text NOT NULL,
    reference text,
    notes text,
    "dateVersement" timestamp(3) without time zone,
    banque text,
    "tiersNom" text,
    "tiersCin" text,
    remarque text,
    "pieceJointe" text,
    "factureId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "dateEncaissement" timestamp(3) without time zone,
    statut text DEFAULT 'ENCAISSE'::text NOT NULL,
    "operationCaisseId" text,
    "userId" text
);


ALTER TABLE public."Paiement" OWNER TO postgres;

--
-- Name: Payroll; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Payroll" (
    id text NOT NULL,
    "employeeId" text NOT NULL,
    mois text NOT NULL,
    annee integer NOT NULL,
    "salaireBase" double precision NOT NULL,
    commissions double precision DEFAULT 0 NOT NULL,
    "heuresSup" double precision DEFAULT 0 NOT NULL,
    retenues double precision DEFAULT 0 NOT NULL,
    "netAPayer" double precision NOT NULL,
    statut text DEFAULT 'BROUILLON'::text NOT NULL,
    "pdfUrl" text,
    "expenseId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Payroll" OWNER TO postgres;

--
-- Name: PointsHistory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."PointsHistory" (
    id text NOT NULL,
    "clientId" text NOT NULL,
    points integer NOT NULL,
    type text NOT NULL,
    date timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    description text,
    "factureId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."PointsHistory" OWNER TO postgres;

--
-- Name: Product; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Product" (
    id text NOT NULL,
    "codeInterne" text NOT NULL,
    "codeBarres" text NOT NULL,
    "referenceFournisseur" text,
    designation text NOT NULL,
    marque text,
    modele text,
    couleur text,
    "typeArticle" text NOT NULL,
    famille text,
    "sousFamille" text,
    "fournisseurPrincipal" text,
    "quantiteActuelle" double precision DEFAULT 0 NOT NULL,
    "seuilAlerte" double precision DEFAULT 0 NOT NULL,
    "prixAchatHT" double precision DEFAULT 0 NOT NULL,
    coefficient double precision DEFAULT 1 NOT NULL,
    "prixVenteHT" double precision DEFAULT 0 NOT NULL,
    "prixVenteTTC" double precision DEFAULT 0 NOT NULL,
    "tauxTVA" double precision DEFAULT 0.20 NOT NULL,
    statut text NOT NULL,
    photo text,
    "utilisateurCreation" text NOT NULL,
    "specificData" jsonb,
    "entrepotId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Product" OWNER TO postgres;

--
-- Name: RewardRedemption; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."RewardRedemption" (
    id text NOT NULL,
    "clientId" text NOT NULL,
    "pointsUsed" integer NOT NULL,
    "rewardType" text NOT NULL,
    "madValue" double precision NOT NULL,
    "redeemedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "redeemedBy" text,
    "userId" text
);


ALTER TABLE public."RewardRedemption" OWNER TO postgres;

--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id text NOT NULL,
    nom text NOT NULL,
    prenom text NOT NULL,
    civilite text NOT NULL,
    telephone text,
    email text NOT NULL,
    "photoUrl" text,
    matricule text,
    statut text DEFAULT 'actif'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    password text DEFAULT '$2b$10$vYpY.oP6y9G8v6z2X3G2.O7h2/Gk8v6z2X3G2.O7h2/Gk8v6z2X3'::text NOT NULL
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: UserCentreRole; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."UserCentreRole" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "centreId" text NOT NULL,
    "centreName" text NOT NULL,
    role text NOT NULL,
    "entrepotIds" text[],
    "entrepotNames" text[]
);


ALTER TABLE public."UserCentreRole" OWNER TO postgres;

--
-- Data for Name: Attendance; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Attendance" (id, "employeeId", date, "heuresTravaillees", "retardMinutes", "estAbsent", motif, "createdAt") FROM stdin;
\.


--
-- Data for Name: Caisse; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Caisse" (id, nom, description, statut, "centreId", "createdAt", "updatedAt", type) FROM stdin;
b0473303-cc8c-4bf3-a706-4eed877da098	Caisse Principale Rabat	Caisse Principale.	ACTIVE	9ed857f4-dc03-449f-8fb8-42f7258bc113	2026-01-04 14:25:26.393	2026-01-11 00:17:33.428	PRINCIPALE
eec2bb08-676d-4c68-bf72-482409e8872d	Caisse D├®penses	Caisse D├®penses g├¿re les d├®penses en esp├¿ces. 	ACTIVE	9ed857f4-dc03-449f-8fb8-42f7258bc113	2026-01-04 14:28:04.642	2026-01-11 00:17:33.428	DEPENSES
\.


--
-- Data for Name: Centre; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Centre" (id, nom, description, adresse, ville, "codePostal", telephone, email, "groupeId", "createdAt", "updatedAt") FROM stdin;
9ed857f4-dc03-449f-8fb8-42f7258bc113	Centre Rabat	Centre Commerciale	rabat	rabat	10000	+212068546858	asfdg@gmail.com	95ce3778-0907-4653-b702-a5b72f2ede91	2026-01-03 23:49:38.568	2026-01-03 23:49:38.568
9b2972e6-44e1-4b87-935b-ecf504249213	Centre Casablanca	Centre Commerciale 2 	Casablanca	casablanca	10000	+212068546858	asfdg@gmail.com	95ce3778-0907-4653-b702-a5b72f2ede91	2026-01-03 23:54:15.105	2026-01-03 23:54:15.105
\.


--
-- Data for Name: Client; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Commission; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Commission" (id, "employeeId", "factureId", type, montant, mois, "createdAt") FROM stdin;
\.


--
-- Data for Name: CommissionRule; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."CommissionRule" (id, poste, "centreId", "typeProduit", taux) FROM stdin;
\.


--
-- Data for Name: DemandeAlimentation; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."DemandeAlimentation" (id, montant, "depenseId", "paiementId", "journeeCaisseId", statut, "createdAt", "validatedAt", "validatedBy", remarque) FROM stdin;
\.


--
-- Data for Name: Depense; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: EcheancePaiement; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Employee; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: EmployeeCentre; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."EmployeeCentre" ("employeeId", "centreId") FROM stdin;
5484e2ed-a429-4906-a269-a7eb3671e7dd	9ed857f4-dc03-449f-8fb8-42f7258bc113
5484e2ed-a429-4906-a269-a7eb3671e7dd	9b2972e6-44e1-4b87-935b-ecf504249213
58a29793-987c-40e4-88d8-9b499f2c4dd8	9ed857f4-dc03-449f-8fb8-42f7258bc113
58a29793-987c-40e4-88d8-9b499f2c4dd8	9b2972e6-44e1-4b87-935b-ecf504249213
\.


--
-- Data for Name: Entrepot; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Facture; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: FactureFournisseur; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Fiche; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: FinanceConfig; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."FinanceConfig" (id, "monthlyThreshold", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Fournisseur; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Groupe; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Groupe" (id, nom, description, adresse, telephone, email, "createdAt", "updatedAt") FROM stdin;
95ce3778-0907-4653-b702-a5b72f2ede91	Group OptiSaas	Groupe de test	rabat	+212694688882	achouika@gmail.com	2026-01-03 23:48:51.558	2026-01-03 23:48:51.558
\.


--
-- Data for Name: JourneeCaisse; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: LoyaltyConfig; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."LoyaltyConfig" (id, "pointsPerDH", "referrerBonus", "refereeBonus", "updatedAt", "folderCreationBonus", "pointsToMADRatio", "rewardThreshold") FROM stdin;
c1019e02-d5ec-4b8c-b041-9a7fc1b76344	0.1	50	20	2026-01-04 00:35:45.957	30	0.1	500
\.


--
-- Data for Name: MarketingConfig; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."MarketingConfig" (id, "whatsappApiUrl", "whatsappInstanceId", "whatsappToken", "smsGatewayUrl", "smsApiKey", "smtpHost", "smtpPort", "smtpUser", "smtpPass", "smtpFrom", "updatedAt") FROM stdin;
b1311ba9-5f5a-4d0f-9dc4-eecba953e965	\N	\N	\N	\N	\N	\N	587	\N	\N	\N	2026-01-04 15:32:40.553
\.


--
-- Data for Name: MouvementStock; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: OperationCaisse; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Paiement; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Payroll; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Payroll" (id, "employeeId", mois, annee, "salaireBase", commissions, "heuresSup", retenues, "netAPayer", statut, "pdfUrl", "expenseId", "createdAt", "updatedAt") FROM stdin;
bf182271-75d0-4088-b1b7-a482106c8533	58a29793-987c-40e4-88d8-9b499f2c4dd8	01	2026	5500	0	0	0	5500	BROUILLON	\N	\N	2026-01-05 07:14:33.221	2026-01-05 07:14:33.221
016c867f-a917-46d9-ac9a-85efdbcef229	5484e2ed-a429-4906-a269-a7eb3671e7dd	01	2026	3500	0	0	0	3500	BROUILLON	\N	\N	2026-01-05 07:14:33.222	2026-01-05 07:14:33.222
\.


--
-- Data for Name: PointsHistory; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Product; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: RewardRedemption; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."RewardRedemption" (id, "clientId", "pointsUsed", "rewardType", "madValue", "redeemedAt", "redeemedBy", "userId") FROM stdin;
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: UserCentreRole; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: Attendance Attendance_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Attendance"
    ADD CONSTRAINT "Attendance_pkey" PRIMARY KEY (id);


--
-- Name: Caisse Caisse_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Caisse"
    ADD CONSTRAINT "Caisse_pkey" PRIMARY KEY (id);


--
-- Name: Centre Centre_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Centre"
    ADD CONSTRAINT "Centre_pkey" PRIMARY KEY (id);


--
-- Name: Client Client_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Client"
    ADD CONSTRAINT "Client_pkey" PRIMARY KEY (id);


--
-- Name: CommissionRule CommissionRule_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CommissionRule"
    ADD CONSTRAINT "CommissionRule_pkey" PRIMARY KEY (id);


--
-- Name: Commission Commission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Commission"
    ADD CONSTRAINT "Commission_pkey" PRIMARY KEY (id);


--
-- Name: DemandeAlimentation DemandeAlimentation_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DemandeAlimentation"
    ADD CONSTRAINT "DemandeAlimentation_pkey" PRIMARY KEY (id);


--
-- Name: Depense Depense_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Depense"
    ADD CONSTRAINT "Depense_pkey" PRIMARY KEY (id);


--
-- Name: EcheancePaiement EcheancePaiement_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EcheancePaiement"
    ADD CONSTRAINT "EcheancePaiement_pkey" PRIMARY KEY (id);


--
-- Name: EmployeeCentre EmployeeCentre_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EmployeeCentre"
    ADD CONSTRAINT "EmployeeCentre_pkey" PRIMARY KEY ("employeeId", "centreId");


--
-- Name: Employee Employee_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Employee"
    ADD CONSTRAINT "Employee_pkey" PRIMARY KEY (id);


--
-- Name: Entrepot Entrepot_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Entrepot"
    ADD CONSTRAINT "Entrepot_pkey" PRIMARY KEY (id);


--
-- Name: FactureFournisseur FactureFournisseur_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."FactureFournisseur"
    ADD CONSTRAINT "FactureFournisseur_pkey" PRIMARY KEY (id);


--
-- Name: Facture Facture_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Facture"
    ADD CONSTRAINT "Facture_pkey" PRIMARY KEY (id);


--
-- Name: Fiche Fiche_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Fiche"
    ADD CONSTRAINT "Fiche_pkey" PRIMARY KEY (id);


--
-- Name: FinanceConfig FinanceConfig_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."FinanceConfig"
    ADD CONSTRAINT "FinanceConfig_pkey" PRIMARY KEY (id);


--
-- Name: Fournisseur Fournisseur_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Fournisseur"
    ADD CONSTRAINT "Fournisseur_pkey" PRIMARY KEY (id);


--
-- Name: Groupe Groupe_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Groupe"
    ADD CONSTRAINT "Groupe_pkey" PRIMARY KEY (id);


--
-- Name: JourneeCaisse JourneeCaisse_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."JourneeCaisse"
    ADD CONSTRAINT "JourneeCaisse_pkey" PRIMARY KEY (id);


--
-- Name: LoyaltyConfig LoyaltyConfig_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LoyaltyConfig"
    ADD CONSTRAINT "LoyaltyConfig_pkey" PRIMARY KEY (id);


--
-- Name: MarketingConfig MarketingConfig_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MarketingConfig"
    ADD CONSTRAINT "MarketingConfig_pkey" PRIMARY KEY (id);


--
-- Name: MouvementStock MouvementStock_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MouvementStock"
    ADD CONSTRAINT "MouvementStock_pkey" PRIMARY KEY (id);


--
-- Name: OperationCaisse OperationCaisse_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."OperationCaisse"
    ADD CONSTRAINT "OperationCaisse_pkey" PRIMARY KEY (id);


--
-- Name: Paiement Paiement_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Paiement"
    ADD CONSTRAINT "Paiement_pkey" PRIMARY KEY (id);


--
-- Name: Payroll Payroll_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Payroll"
    ADD CONSTRAINT "Payroll_pkey" PRIMARY KEY (id);


--
-- Name: PointsHistory PointsHistory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PointsHistory"
    ADD CONSTRAINT "PointsHistory_pkey" PRIMARY KEY (id);


--
-- Name: Product Product_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_pkey" PRIMARY KEY (id);


--
-- Name: RewardRedemption RewardRedemption_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RewardRedemption"
    ADD CONSTRAINT "RewardRedemption_pkey" PRIMARY KEY (id);


--
-- Name: UserCentreRole UserCentreRole_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserCentreRole"
    ADD CONSTRAINT "UserCentreRole_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: Caisse_centreId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Caisse_centreId_idx" ON public."Caisse" USING btree ("centreId");


--
-- Name: Caisse_centreId_nom_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Caisse_centreId_nom_key" ON public."Caisse" USING btree ("centreId", nom);


--
-- Name: Centre_groupeId_nom_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Centre_groupeId_nom_key" ON public."Centre" USING btree ("groupeId", nom);


--
-- Name: DemandeAlimentation_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "DemandeAlimentation_createdAt_idx" ON public."DemandeAlimentation" USING btree ("createdAt");


--
-- Name: DemandeAlimentation_depenseId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "DemandeAlimentation_depenseId_key" ON public."DemandeAlimentation" USING btree ("depenseId");


--
-- Name: DemandeAlimentation_paiementId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "DemandeAlimentation_paiementId_key" ON public."DemandeAlimentation" USING btree ("paiementId");


--
-- Name: DemandeAlimentation_statut_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "DemandeAlimentation_statut_idx" ON public."DemandeAlimentation" USING btree (statut);


--
-- Name: Depense_centreId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Depense_centreId_idx" ON public."Depense" USING btree ("centreId");


--
-- Name: Depense_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Depense_date_idx" ON public."Depense" USING btree (date);


--
-- Name: Depense_echeanceId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Depense_echeanceId_key" ON public."Depense" USING btree ("echeanceId");


--
-- Name: Depense_factureFournisseurId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Depense_factureFournisseurId_key" ON public."Depense" USING btree ("factureFournisseurId");


--
-- Name: EcheancePaiement_dateEcheance_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "EcheancePaiement_dateEcheance_idx" ON public."EcheancePaiement" USING btree ("dateEcheance");


--
-- Name: EcheancePaiement_statut_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "EcheancePaiement_statut_idx" ON public."EcheancePaiement" USING btree (statut);


--
-- Name: Employee_matricule_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Employee_matricule_key" ON public."Employee" USING btree (matricule);


--
-- Name: Employee_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Employee_userId_key" ON public."Employee" USING btree ("userId");


--
-- Name: Entrepot_centreId_nom_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Entrepot_centreId_nom_key" ON public."Entrepot" USING btree ("centreId", nom);


--
-- Name: FactureFournisseur_centreId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "FactureFournisseur_centreId_idx" ON public."FactureFournisseur" USING btree ("centreId");


--
-- Name: FactureFournisseur_clientId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "FactureFournisseur_clientId_idx" ON public."FactureFournisseur" USING btree ("clientId");


--
-- Name: FactureFournisseur_dateEmission_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "FactureFournisseur_dateEmission_idx" ON public."FactureFournisseur" USING btree ("dateEmission");


--
-- Name: FactureFournisseur_fournisseurId_numeroFacture_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "FactureFournisseur_fournisseurId_numeroFacture_key" ON public."FactureFournisseur" USING btree ("fournisseurId", "numeroFacture");


--
-- Name: Facture_centreId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Facture_centreId_idx" ON public."Facture" USING btree ("centreId");


--
-- Name: Facture_ficheId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Facture_ficheId_key" ON public."Facture" USING btree ("ficheId");


--
-- Name: Facture_numero_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Facture_numero_key" ON public."Facture" USING btree (numero);


--
-- Name: Facture_vendeurId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Facture_vendeurId_idx" ON public."Facture" USING btree ("vendeurId");


--
-- Name: Groupe_nom_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Groupe_nom_key" ON public."Groupe" USING btree (nom);


--
-- Name: JourneeCaisse_caisseId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "JourneeCaisse_caisseId_idx" ON public."JourneeCaisse" USING btree ("caisseId");


--
-- Name: JourneeCaisse_centreId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "JourneeCaisse_centreId_idx" ON public."JourneeCaisse" USING btree ("centreId");


--
-- Name: JourneeCaisse_dateOuverture_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "JourneeCaisse_dateOuverture_idx" ON public."JourneeCaisse" USING btree ("dateOuverture");


--
-- Name: JourneeCaisse_statut_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "JourneeCaisse_statut_idx" ON public."JourneeCaisse" USING btree (statut);


--
-- Name: OperationCaisse_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "OperationCaisse_createdAt_idx" ON public."OperationCaisse" USING btree ("createdAt");


--
-- Name: OperationCaisse_journeeCaisseId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "OperationCaisse_journeeCaisseId_idx" ON public."OperationCaisse" USING btree ("journeeCaisseId");


--
-- Name: OperationCaisse_moyenPaiement_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "OperationCaisse_moyenPaiement_idx" ON public."OperationCaisse" USING btree ("moyenPaiement");


--
-- Name: OperationCaisse_typeOperation_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "OperationCaisse_typeOperation_idx" ON public."OperationCaisse" USING btree ("typeOperation");


--
-- Name: OperationCaisse_type_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "OperationCaisse_type_idx" ON public."OperationCaisse" USING btree (type);


--
-- Name: Paiement_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Paiement_date_idx" ON public."Paiement" USING btree (date);


--
-- Name: Paiement_factureId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Paiement_factureId_idx" ON public."Paiement" USING btree ("factureId");


--
-- Name: Paiement_mode_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Paiement_mode_idx" ON public."Paiement" USING btree (mode);


--
-- Name: Paiement_statut_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Paiement_statut_idx" ON public."Paiement" USING btree (statut);


--
-- Name: Payroll_expenseId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Payroll_expenseId_key" ON public."Payroll" USING btree ("expenseId");


--
-- Name: Product_codeBarres_entrepotId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Product_codeBarres_entrepotId_key" ON public."Product" USING btree ("codeBarres", "entrepotId");


--
-- Name: Product_codeInterne_entrepotId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Product_codeInterne_entrepotId_key" ON public."Product" USING btree ("codeInterne", "entrepotId");


--
-- Name: UserCentreRole_userId_centreId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "UserCentreRole_userId_centreId_key" ON public."UserCentreRole" USING btree ("userId", "centreId");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: Attendance Attendance_employeeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Attendance"
    ADD CONSTRAINT "Attendance_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES public."Employee"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Caisse Caisse_centreId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Caisse"
    ADD CONSTRAINT "Caisse_centreId_fkey" FOREIGN KEY ("centreId") REFERENCES public."Centre"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Centre Centre_groupeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Centre"
    ADD CONSTRAINT "Centre_groupeId_fkey" FOREIGN KEY ("groupeId") REFERENCES public."Groupe"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Client Client_centreId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Client"
    ADD CONSTRAINT "Client_centreId_fkey" FOREIGN KEY ("centreId") REFERENCES public."Centre"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Client Client_parrainId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Client"
    ADD CONSTRAINT "Client_parrainId_fkey" FOREIGN KEY ("parrainId") REFERENCES public."Client"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: CommissionRule CommissionRule_centreId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CommissionRule"
    ADD CONSTRAINT "CommissionRule_centreId_fkey" FOREIGN KEY ("centreId") REFERENCES public."Centre"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Commission Commission_employeeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Commission"
    ADD CONSTRAINT "Commission_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES public."Employee"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Commission Commission_factureId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Commission"
    ADD CONSTRAINT "Commission_factureId_fkey" FOREIGN KEY ("factureId") REFERENCES public."Facture"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: DemandeAlimentation DemandeAlimentation_depenseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DemandeAlimentation"
    ADD CONSTRAINT "DemandeAlimentation_depenseId_fkey" FOREIGN KEY ("depenseId") REFERENCES public."Depense"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: DemandeAlimentation DemandeAlimentation_journeeCaisseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DemandeAlimentation"
    ADD CONSTRAINT "DemandeAlimentation_journeeCaisseId_fkey" FOREIGN KEY ("journeeCaisseId") REFERENCES public."JourneeCaisse"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: DemandeAlimentation DemandeAlimentation_paiementId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DemandeAlimentation"
    ADD CONSTRAINT "DemandeAlimentation_paiementId_fkey" FOREIGN KEY ("paiementId") REFERENCES public."Paiement"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Depense Depense_centreId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Depense"
    ADD CONSTRAINT "Depense_centreId_fkey" FOREIGN KEY ("centreId") REFERENCES public."Centre"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Depense Depense_creeParId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Depense"
    ADD CONSTRAINT "Depense_creeParId_fkey" FOREIGN KEY ("creeParId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Depense Depense_echeanceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Depense"
    ADD CONSTRAINT "Depense_echeanceId_fkey" FOREIGN KEY ("echeanceId") REFERENCES public."EcheancePaiement"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Depense Depense_factureFournisseurId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Depense"
    ADD CONSTRAINT "Depense_factureFournisseurId_fkey" FOREIGN KEY ("factureFournisseurId") REFERENCES public."FactureFournisseur"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Depense Depense_fournisseurId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Depense"
    ADD CONSTRAINT "Depense_fournisseurId_fkey" FOREIGN KEY ("fournisseurId") REFERENCES public."Fournisseur"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Depense Depense_valideParId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Depense"
    ADD CONSTRAINT "Depense_valideParId_fkey" FOREIGN KEY ("valideParId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: EcheancePaiement EcheancePaiement_factureFournisseurId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EcheancePaiement"
    ADD CONSTRAINT "EcheancePaiement_factureFournisseurId_fkey" FOREIGN KEY ("factureFournisseurId") REFERENCES public."FactureFournisseur"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: EmployeeCentre EmployeeCentre_centreId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EmployeeCentre"
    ADD CONSTRAINT "EmployeeCentre_centreId_fkey" FOREIGN KEY ("centreId") REFERENCES public."Centre"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: EmployeeCentre EmployeeCentre_employeeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EmployeeCentre"
    ADD CONSTRAINT "EmployeeCentre_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES public."Employee"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Employee Employee_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Employee"
    ADD CONSTRAINT "Employee_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Entrepot Entrepot_centreId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Entrepot"
    ADD CONSTRAINT "Entrepot_centreId_fkey" FOREIGN KEY ("centreId") REFERENCES public."Centre"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: FactureFournisseur FactureFournisseur_centreId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."FactureFournisseur"
    ADD CONSTRAINT "FactureFournisseur_centreId_fkey" FOREIGN KEY ("centreId") REFERENCES public."Centre"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: FactureFournisseur FactureFournisseur_clientId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."FactureFournisseur"
    ADD CONSTRAINT "FactureFournisseur_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES public."Client"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: FactureFournisseur FactureFournisseur_fournisseurId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."FactureFournisseur"
    ADD CONSTRAINT "FactureFournisseur_fournisseurId_fkey" FOREIGN KEY ("fournisseurId") REFERENCES public."Fournisseur"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Facture Facture_centreId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Facture"
    ADD CONSTRAINT "Facture_centreId_fkey" FOREIGN KEY ("centreId") REFERENCES public."Centre"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Facture Facture_clientId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Facture"
    ADD CONSTRAINT "Facture_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES public."Client"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Facture Facture_ficheId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Facture"
    ADD CONSTRAINT "Facture_ficheId_fkey" FOREIGN KEY ("ficheId") REFERENCES public."Fiche"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Facture Facture_parentFactureId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Facture"
    ADD CONSTRAINT "Facture_parentFactureId_fkey" FOREIGN KEY ("parentFactureId") REFERENCES public."Facture"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Facture Facture_vendeurId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Facture"
    ADD CONSTRAINT "Facture_vendeurId_fkey" FOREIGN KEY ("vendeurId") REFERENCES public."Employee"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Fiche Fiche_clientId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Fiche"
    ADD CONSTRAINT "Fiche_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES public."Client"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: JourneeCaisse JourneeCaisse_caisseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."JourneeCaisse"
    ADD CONSTRAINT "JourneeCaisse_caisseId_fkey" FOREIGN KEY ("caisseId") REFERENCES public."Caisse"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: JourneeCaisse JourneeCaisse_centreId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."JourneeCaisse"
    ADD CONSTRAINT "JourneeCaisse_centreId_fkey" FOREIGN KEY ("centreId") REFERENCES public."Centre"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: MouvementStock MouvementStock_entrepotDestinationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MouvementStock"
    ADD CONSTRAINT "MouvementStock_entrepotDestinationId_fkey" FOREIGN KEY ("entrepotDestinationId") REFERENCES public."Entrepot"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: MouvementStock MouvementStock_entrepotSourceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MouvementStock"
    ADD CONSTRAINT "MouvementStock_entrepotSourceId_fkey" FOREIGN KEY ("entrepotSourceId") REFERENCES public."Entrepot"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: MouvementStock MouvementStock_factureFournisseurId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MouvementStock"
    ADD CONSTRAINT "MouvementStock_factureFournisseurId_fkey" FOREIGN KEY ("factureFournisseurId") REFERENCES public."FactureFournisseur"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: MouvementStock MouvementStock_factureId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MouvementStock"
    ADD CONSTRAINT "MouvementStock_factureId_fkey" FOREIGN KEY ("factureId") REFERENCES public."Facture"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: MouvementStock MouvementStock_produitId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MouvementStock"
    ADD CONSTRAINT "MouvementStock_produitId_fkey" FOREIGN KEY ("produitId") REFERENCES public."Product"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: MouvementStock MouvementStock_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MouvementStock"
    ADD CONSTRAINT "MouvementStock_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: OperationCaisse OperationCaisse_factureId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."OperationCaisse"
    ADD CONSTRAINT "OperationCaisse_factureId_fkey" FOREIGN KEY ("factureId") REFERENCES public."Facture"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: OperationCaisse OperationCaisse_journeeCaisseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."OperationCaisse"
    ADD CONSTRAINT "OperationCaisse_journeeCaisseId_fkey" FOREIGN KEY ("journeeCaisseId") REFERENCES public."JourneeCaisse"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: OperationCaisse OperationCaisse_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."OperationCaisse"
    ADD CONSTRAINT "OperationCaisse_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Paiement Paiement_factureId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Paiement"
    ADD CONSTRAINT "Paiement_factureId_fkey" FOREIGN KEY ("factureId") REFERENCES public."Facture"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Paiement Paiement_operationCaisseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Paiement"
    ADD CONSTRAINT "Paiement_operationCaisseId_fkey" FOREIGN KEY ("operationCaisseId") REFERENCES public."OperationCaisse"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Paiement Paiement_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Paiement"
    ADD CONSTRAINT "Paiement_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Payroll Payroll_employeeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Payroll"
    ADD CONSTRAINT "Payroll_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES public."Employee"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Payroll Payroll_expenseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Payroll"
    ADD CONSTRAINT "Payroll_expenseId_fkey" FOREIGN KEY ("expenseId") REFERENCES public."Depense"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: PointsHistory PointsHistory_clientId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PointsHistory"
    ADD CONSTRAINT "PointsHistory_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES public."Client"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: PointsHistory PointsHistory_factureId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PointsHistory"
    ADD CONSTRAINT "PointsHistory_factureId_fkey" FOREIGN KEY ("factureId") REFERENCES public."Facture"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Product Product_entrepotId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Product"
    ADD CONSTRAINT "Product_entrepotId_fkey" FOREIGN KEY ("entrepotId") REFERENCES public."Entrepot"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: RewardRedemption RewardRedemption_clientId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RewardRedemption"
    ADD CONSTRAINT "RewardRedemption_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES public."Client"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: RewardRedemption RewardRedemption_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RewardRedemption"
    ADD CONSTRAINT "RewardRedemption_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: UserCentreRole UserCentreRole_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserCentreRole"
    ADD CONSTRAINT "UserCentreRole_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict HTSrGbYtKHNdQaxUeJgvhdkzpmtBQSBWgTu8gnQNDlvxr92plyeFeN3adgI3K5V

