<form>
  <div class="flex flex-col">
    <mat-form-field appFieldControlLabel>
      <mat-label>
        {{ 'authentication.login' | translate }}
      </mat-label>
      <input matInput autocomplete="username" [field]="loginForm.email" />
      @if (loginForm.email().touched() && loginForm.email().invalid()) {
      <mat-error
        app-field-error
        [errors]="loginForm.email().errors()"
        pattern="email"
        fieldname="email"
      />
      }
    </mat-form-field>
    <mat-form-field appFieldControlLabel>
      <mat-label>{{ 'commun.password' | translate }}</mat-label>
      <input
        matInput
        type="password"
        autocomplete="current-password"
        [field]="loginForm.password"
      />
      @if (loginForm.password().touched() && loginForm.password().invalid()) {
      <mat-error app-field-error [errors]="loginForm.password().errors()" fieldname="password" />
      }
    </mat-form-field>
    <button matButton type="button" (click)="gotToForgotPath()">
      {{ 'authentication.forgottenPassword' | translate }}
    </button>
    <button
      class="my-5"
      matButton="filled"
      [disabled]="loginForm().invalid()"
      type="button"
      (click)="login()"
    >
      {{ 'authentication.connexion' | translate }}
    </button>
    @if (errorMessage()?.messageToShow; as messageToShow) {
    <div class="bg-error rounded-md p-2 text-center text-white">
      {{ messageToShow }}
    </div>
    }
  </div>
</form>
