.status-active {
    background-color: #dcfce7;
    color: #166534;
}

.status-suspended {
    background-color: #fef9c3;
    color: #854d0e;
}

.status-left {
    background-color: #fee2e2;
    color: #991b1b;
}

table {
    width: 100%;
}

.mat-column-actions {
    width: 60px;
}

.mat-column-matricule {
    width: 100px;
}

.mat-mdc-row:hover {
    background-color: #f8fafc;
}